.pk-logo {
    background: url("../img/pk-64.png") no-repeat center 0px #FAFAFA;
    float: none;
    display: block;
    width: 80px;
    font-family: KHMUOLLI;
    font-size: 20px;
    color: #D770AD;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
    height: 50px;
    border-radius: 0px 0px 40px 40px;
}
.pk-social {
    float: right;
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.pk-social:hover {
    color: #D770AD;
}
.visit-me {
    float: right;
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 12px;
}
.pk-matra-item .pk-social {
    position: absolute;
    display: none;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.facebook-share {
    right: 5px;
}
.twitter-share {
    right: 45px;
}
.pinterest-share {
    right: 125px;
}
.google-plus-share {
    right: 85px;
}
.pk-matra-item:hover .pk-social {
    display: block;
}
.pk-purpose {
    position: fixed;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid #DDD;
    background: rgba(240,240,240,0.8);
}
.pk-mcntn {
    position: absolute;
    display: block;
    left: 1%;
    right: 1%;
    top: 50px;
    bottom: 30px;
}
.pk-mcntn-left {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    border-right: 1px solid #DDD;
    padding: 0px 0%;
    background: #FAFAFA;
    overflow-y: scroll;
}
.pk-mcntn-right {
    position: absolute;
    display: block;
    left: 25%;
    right: 0;
    bottom: 0;
    top: 0;
    width: 75%;
    background: #FAFAFA;
    overflow-y: scroll;
}
.pk-book {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    color: #333;
    padding: 5px 1%;
    font-size: 12px;
    line-height: 30px;
    border-radius: 2px;
    cursor: pointer;
    border-bottom: 1px solid #EEE;
}
.pk-book:hover {
    border-bottom: 1px solid rgb(23,169,95);
    color: rgb(23,169,95);
}
.pk-book-active {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    width: 98%;
    background: rgb(23,169,95);
    color: #FAFAFA;
    height: 30px;
    padding: 5px 1%;
    font-size: 12px;
    line-height: 30px;
    border-radius: 2px;
}
.pk-book .fa, .pk-book-active .fa {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 25px;
    text-align: center;
}
.pk-matra-item {
    display: block;
    width: 98%;
    padding: 5px 1%;
    position: relative;
}
.pk-matra-item-title {
    position: relative;
    display: inline-block;
    padding: 5px;
    color: #3366cc;
}
.pk-matra-item-no {
    position: relative;
    display: inline-block;
    padding: 5px;
    color: #D770AD;
}
.pk-matra-item-cntn {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    line-height: 25px;
    padding: 5px 1%;
    border-bottom: 1px solid #DDD;
}
.sec_search_h {
    position: relative;
    display: block;
    float: left;
    margin: 0px 5px;
    width: 688px;
    border-radius: 3px;
    height: 34px;
    border: 1px solid #DDD;
    border-bottom: 1px solid #AAA;
    overflow: hidden;
    background: #EEE;
}
.sec_search_h input[type="text"] {
    border: none;
    display: block;
    font-family: KHWAT;
    width: 160px;
    padding: 2px 35px 2px 5px;
    height: 30px;
    line-height: 30px;
    background: #FFF;
}
.sec_btnsearch {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: 76px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    color: #FAFAFA;
    background: #9859B6;
}
.search-result {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 40px 0px 20px 0px;
}
.ads-block {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 10px 0px;
}
.mitika-shower {
    position: absolute;
    left: 0px;
    top: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 30px;
}
.pk-book-h {
    position: relative;
    padding: 0px 5% ;
    width: 90%;
    display: block;
    float: left;
    height: 550px;
    overflow-y: auto;
}
.pk-book-articles {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.pk-book-cntn {
    position: relative;
    display: block;
    float: left;
    color: #333;
    margin: 0px auto 0px auto;
    overflow: auto;
    width: 100%;
    background: #FAFAFA;
}
.pk-book-item {
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    text-indent: 20px;
    line-height: 30px;
    display: block;
    cursor: pointer;
}
.pk-book-item:hover {
    background: #fcefa1;
}
.pk-book-cntn-kunty {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #844C8D;
}
.pk-book-cntn-matika {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #003236;
}
.pk-book-cntn-chapter {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #009867;
}
.pk-book-cntn-part {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #425E24;
}
.pk-book-cntn-section {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #BB8B38;
}
.civil-book, .civil-procedure-book, .criminal-book, .criminal-procedure-book {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 50px;
    padding: 10px 30px;
    color: #00578d;
}
.book-title{
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0;
    width: 25%;
    text-align: right;
    font-family: KHMUOL;
    font-size: 20px;
    line-height: 50px;
}
.loading-article {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-align: center;
    margin: 100px auto;
    font-family: KHMUOL;
    font-size: 16px;
}
.pk-matra-list {
    padding: 50px 0px;
}
.list-books {
    position: relative;
    display: none;
    float: right;
    width: 96%;
    padding: 0px 1%;
    background: rgba( 250,250,250,0.9);
    box-shadow: 0px 1px 2px #CCC;
}
.list-books .book-item {
    display: block;
    width: 100%;
    font-family: KHMUOL;
    font-size: 16px;
    height: 40px;
    cursor: pointer;
    line-height: 40px;
}
.list-books .book-item:hover {
    background: #ffef8f;
}