body {
    margin: 0;
    background: url('../img/angkor.jpg') left top no-repeat;
    background-attachment: fixed ;
    background-size: 100%;
}
.pk-logo {
    background: url("../img/pk-64.png") no-repeat center 0px #FAFAFA;
    float: none;
    display: block;
    width: 80px;
    font-family: KHMUOLLI;
    font-size: 20px;
    color: #D770AD;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
    height: 50px;
    border-radius: 0px 0px 40px 40px;
}
.pk-logo-big {
    cursor: pointer;
    background: url("../img/pk-128.png") no-repeat center center #FAFAFA;
    width: 150px;
    height: 150px;
    border-radius: 750px;
    float: none;
    display: block;
    font-family: KHMUOLLI;
    font-size: 20px;
    color: #D770AD;
    margin: 60px auto 50px auto;
    padding: 0px;
    text-align: center;
}
.site-name {
    position: relative;
    display: block;
    float: left;
    width: 120px;
    height: 50px;
    line-height: 25px;
    padding: 0px 5px;
    font-size: 12px;
    font-family: KHMUOL;
    color: #FF6DFA;
    /*color: #FDADFA;*/
    text-shadow: 0px 0px 2px #FAFAFA;
}
.pk-social {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.pk-social:hover {
    color: #D770AD;
}
.visit-me {
    float: right;
    position: absolute;
    display: block;
    top: 0;
    right: 95px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 12px;
}
.pk-matra-item .pk-social, .search-item .pk-social {
    position: absolute;
    display: none;
    top: 0;
    width: 40px;
    height: 25px;
    line-height: 25px;
    color: #0075cf;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.facebook-share {
    right: 20px;
}
.twitter-share {
    right: 45px;
}
.pinterest-share {
    right: 125px;
}
.google-plus-share {
    right: 85px;
}
.pk-matra-item:hover .pk-social, .search-item:hover .pk-social {
    display: block;
}
.pk-purpose {
    position: fixed;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid #DDD;
    background: rgba(240,240,240,0.8);
}
.pk-mcntn {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 20px 0% 0px 0%;
}
.pk-mcntn-left {
    display: block;
    float: left;
    width: 100%;
    background: #FAFAFA;
    overflow: hidden;
}
.pk-mcntn-right {
    display: block;
    float: left;
    width: 100%;
    background: #FAFAFA;
    box-shadow: 0px 0px 1px #AAA;
    height: 800px;
}
.pk-book {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    color: #333;
    padding: 5px 1%;
    font-size: 12px;
    line-height: 30px;
    border-radius: 2px;
    cursor: pointer;
    border-bottom: 1px solid #EEE;
}
.pk-book:hover {
    border-bottom: 1px solid rgb(23,169,95);
    color: rgb(23,169,95);
}
.pk-book-active {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    width: 98%;
    background: rgb(23,169,95);
    color: #FAFAFA;
    height: 30px;
    padding: 5px 1%;
    font-size: 12px;
    line-height: 30px;
    border-radius: 2px;
}
.pk-book .fa, .pk-book-active .fa {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 25px;
    text-align: center;
}
.pk-matra-item {
    display: block;
    width: 98%;
    padding: 5px 1%;
    position: relative;
}
.pk-matra-item-title {
    position: relative;
    display: inline-block;
    padding: 5px;
    color: #3366cc;
}
.pk-matra-item-no {
    position: relative;
    display: inline-block;
    padding: 0px;
    color: #D770AD;
}
.pk-matra-item-cntn {
    position: relative;
    display: block;
    float: left;
    line-height: 25px;
    padding: 5px 1%;
    width: 98%;
    border-bottom: 1px solid #DDD;
}
.sec_search_h {
    position: relative;
    display: block;
    float: left;
    margin: 0px 5px;
    width: 688px;
    border-radius: 3px;
    height: 34px;
    border: none;
    overflow: hidden;
    background: #EEE;
}
.sec_search_h input[type="text"] {
    border: none;
    display: block;
    font-family: KHWAT;
    width: 160px;
    padding: 2px 35px 2px 5px;
    height: 30px;
    line-height: 30px;
    background: #FFF;
}
.sec_btnsearch {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: 76px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    color: #FAFAFA;
    background: #9859B6;
}
.search-result {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 40px 0px 20px 0px;
}
.ads-block {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 10px 0px;
}
.brocher {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.brocher-holder {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    font-family: KHMUOL;
    padding: 20px 1%;
    background: rgba(240,240,240,0.7);
}
.brocher-body {
    position: relative;
    display: block;
    float: left;
    width: 94%;
    height: 550px;
    color: #FAFAFA;
    line-height: 25px;
    font-family: KHWAT;
    font-size: 14px;
    padding: 50px 3%;
}
.civil-background {
    background: url("../img/books/civil-code.png") no-repeat #3598DB;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.civil-procedure-background {
    background: url("../img/books/civil_procedure.png") no-repeat #009867;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.criminal-background {
    background: url("../img/books/criminal.png") no-repeat #B04A6F;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.criminal-procedure-background {
    background: url("../img/books/criminal-procedure.png") no-repeat #816E5F;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.constitution-background {
    background: url("../img/books/constution.png") no-repeat #858B2D;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.torrorism-background {
    background: url("../img/books/anti-torrorism.png") no-repeat #425E24;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.commercial-background {
    background: url("../img/books/commercial.png") no-repeat #424347;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.author-background {
    background: url("../img/books/copy-right.png") no-repeat #B04A6F;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.forestry-background {
    background: url("../img/books/forestry.png") no-repeat #6E324E;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.traffic-land-background {
    background: url("../img/books/land-traffic.png") no-repeat #442F50;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.mining-background {
    background: url("../img/books/mining.png") no-repeat #02508c;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.human-traffic-background {
    background: url("../img/books/human-sex.png") no-repeat #984425;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.taxation-background {
    background: url("../img/books/taxation.png") no-repeat #714C8B;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.taxation-amendment-background {
    background: url("../img/books/taxation-amendment.png") no-repeat #003236;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.electricy-background {
    background: url("../img/books/electricity.png") no-repeat #844C8D;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.book-ads {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    min-height: 650px;
    text-align: center;
}
.book-ads-i {
    position: relative;
    display: inline-block;
    background: rgba( 250,250,250, 0.9 ) ;
    border-radius: 2px;
    padding: 10px;
    margin: 5px;
    font-family: KHMUOL;
    font-size: 12px;
}
.welcome-message {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    line-height: 50px;
    padding: 15px 0px;
    margin: 20px auto 0px auto;
    text-align: center;
    font-size: 20px;
    font-family: KHMUOL;
    color: #333;
    background: rgba(220,220,220,0.7);
    text-shadow: 0px 0px 5px #FAFAFA;
}
.nav-h {
    position: fixed;
    display: block;
    right: 0px;
    width: 50px;
    top: 60px;
    padding: 10px 0px ;
    border-radius: 10px 0px 0px 10px;
    background: rgba( 250,250,250, 0.9 );
    text-align: center;
}
.nav-i {
    position: relative;
    display: inline-block;
    float: none;
    width: 20px;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    background: #B04A6F;
    color: #FAFAFA;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    margin: 2px 0px;
}
.nav-handler {
    display: none;
}
.nav-shower {
    position: relative;
    display: inline-block;
    float: none;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    background: #B04A6F;
    color: #FAFAFA;
    text-align: center;
    font-size: 13px;
    margin: 5px 0px 10px 0px;

}
.matra-holder-left {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.search-item {
    position: relative;
    display: inline-block;
    float: none;
    align-items: flex-end;
    padding: 5px;
    cursor: pointer;
    width: 250px;
    margin: 5px;
    border-radius: 2px;
    background: #FAFAFA;
    border: 1px solid #EEE;
    border-bottom: 1px solid #CCC;
}
.search-item:hover, .search-item:active {
    border: 1px solid #DDD;
    border-bottom: 1px solid #BBB;
}
.matra-title {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 5px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
}
.matra-no {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 5px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: #B04A6F;
}
.matra-book {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 5px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: #00578d;
}
.pk-matra-info {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 20px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: #6E324E;
}
.search-term-highlight {
    text-decoration: underline;
}
.pk-book-search {
    position: absolute;
    right: 10px;
    left: 10px;
    top: 85px;
    height:38px;
}
.mitika-shower {
    position: absolute;
    left: 0px;
    top: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 30px;
}
.pk-book-h {
    position: relative;
    padding: 0px 5% ;
    width: 90%;
    display: block;
    float: left;
    height: 550px;
    overflow-y: auto;
}
.pk-book-articles {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.pk-book-cntn {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    color: #333;
    overflow: auto;
    width: 250px;
    background: #FAFAFA;
}
.pk-book-item {
    position: relative;
    float: left;
    width: 100%;
    height: 30px;
    text-indent: 20px;
    line-height: 30px;
    display: block;
    cursor: pointer;
}
.pk-book-item:hover {
    background: #fcefa1;
}
.pk-book-cntn-kunty {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #844C8D;
}
.pk-book-cntn-matika {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #003236;
}
.pk-book-cntn-chapter {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #009867;
}
.pk-book-cntn-part {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #425E24;
}
.pk-book-cntn-section {
    position: absolute;
    display: block;
    left: 5px;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: #BB8B38;
}
.civil-book, .civil-procedure-book, .criminal-book, .criminal-procedure-book {
    display: inline-block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    font-size: 50px;
    padding: 10px 30px;
    color: #00578d;
}
.search-all-article ,.read-law-book {
    position: relative;
    display: inline-block;
    background: rgba(250,250,250,0.8);
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    margin: 50px 20px;
    font-family: KHMUOL;
    cursor: pointer;
}
.search-all-article:hover ,.read-law-book:hover {
    background: rgba(250,250,250,1);
}
.msg-cntn {
    line-height: 25px;
}
.book-title{
    position: absolute;
    left: 10px;
    top: 50px;
    width: 25%;
    text-align: left;
    font-family: KHMUOL;
    font-size: 14px;
    color: #444;
    line-height: 35px;
}
.search-item:hover .fb-share-button{
    display: block;
}