body {
    margin: 0;
    background: url('../img/angkor.jpg') left top no-repeat;
    background-attachment: fixed ;
    background-size: 100%;
}
.pk-logo {
    background: url("../img/pk-64.png") no-repeat center 0px #FAFAFA;
    float: none;
    display: block;
    width: 80px;
    font-family: KHMUOLLI;
    font-size: 20px;
    color: #D770AD;
    margin: 0px auto;
    padding: 20px 0px 0px 0px;
    text-align: center;
    height: 50px;
    border-radius: 0px 0px 40px 40px;
}
.pk-social {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.pk-social:hover {
    color: #D770AD;
}
.visit-me {
    float: right;
    position: absolute;
    display: block;
    top: 0;
    right: 95px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 12px;
}
.pk-matra-item .pk-social {
    position: absolute;
    display: none;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #333;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
}
.facebook-share {
    right: 45px;
}
.twitter-share {
    right: 45px;
}
.pinterest-share {
    right: 125px;
}
.google-plus-share {
    right: 85px;
}
.pk-matra-item:hover .pk-social {
    display: block;
}
.pk-purpose {
    position: fixed;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid #DDD;
    background: rgba(240,240,240,0.8);
}
.pk-mcntn {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 20px 0% 0px 0%;
}
.pk-mcntn-left {
    display: block;
    float: left;
    width: 100%;
    background: #FAFAFA;
    overflow: hidden;
}
.pk-mcntn-right {
    display: block;
    float: left;
    width: 100%;
    background: #FAFAFA;
    box-shadow: 0px 0px 1px #AAA;
    height: 800px;
}
.pk-book {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    color: #333;
    padding: 5px 1%;
    font-size: 12px;
    line-height: 30px;
    border-radius: 2px;
    cursor: pointer;
    border-bottom: 1px solid #EEE;
}
.pk-book:hover {
    border-bottom: 1px solid rgb(23,169,95);
    color: rgb(23,169,95);
}
.pk-book-active {
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    width: 98%;
    background: rgb(23,169,95);
    color: #FAFAFA;
    height: 30px;
    padding: 5px 1%;
    font-size: 12px;
    line-height: 30px;
    border-radius: 2px;
}
.pk-book .fa, .pk-book-active .fa {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width: 25px;
    text-align: center;
}
.pk-matra-item {
    display: block;
    width: 88%;
    padding: 5px 1%;
    position: relative;
    margin: 30px auto;
    float: none;
    border: 1px solid #DDD;
    border-bottom: 1px solid #AAA;
    border-radius: 5px;
    overflow: hidden;
}
.pk-matra-item-title {
    position: relative;
    display: inline-block;
    padding: 5px;
    color: #3366cc;
}
.pk-matra-item-no {
    position: relative;
    display: inline-block;
    padding: 0px;
    color: #D770AD;
}
.pk-matra-item-cntn {
    position: relative;
    display: block;
    float: left;
    line-height: 25px;
    padding: 5px;
    border-bottom: 1px solid #DDD;
}
.sec_search_h {
    position: relative;
    display: block;
    float: left;
    margin: 0px 5px;
    width: 688px;
    border-radius: 3px;
    height: 34px;
    border: none;
    overflow: hidden;
    background: #EEE;
}
.sec_search_h input[type="text"] {
    border: none;
    display: block;
    font-family: KHWAT;
    width: 160px;
    padding: 2px 35px 2px 5px;
    height: 30px;
    line-height: 30px;
    background: #FFF;
}
.sec_btnsearch {
    position: absolute;
    display: block;
    top: 0px;
    right: 0px;
    width: 76px;
    height: 34px;
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
    color: #FAFAFA;
    background: #9859B6;
}
.search-result {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 40px 0px 20px 0px;
}
.ads-block {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    padding: 10px 0px;
}
.brocher {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.brocher-holder {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    font-family: KHMUOL;
    padding: 20px 1%;
    background: rgba(240,240,240,0.7);
}
.brocher-body {
    position: relative;
    display: block;
    float: left;
    width: 94%;
    height: 500px;
    color: #FAFAFA;
    line-height: 25px;
    font-family: KHWAT;
    font-size: 14px;
    padding: 50px 3%;
}
.civil-background {
    background: url("../img/books/civil-code.png") no-repeat #3598DB;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.civil-procedure-background {
    background: url("../img/books/civil_procedure.png") no-repeat #009867;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.criminal-background {
    background: url("../img/books/criminal.png") no-repeat #B04A6F;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.criminal-procedure-background {
    background: url("../img/books/criminal-procedure.png") no-repeat #816E5F;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.constitution-background {
    background: url("../img/books/constution.png") no-repeat #858B2D;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.torrorism-background {
    background: url("../img/books/anti-torrorism.png") no-repeat #425E24;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.commercial-background {
    background: url("../img/books/commercial.png") no-repeat #424347;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.author-background {
    background: url("../img/books/copy-right.png") no-repeat #B04A6F;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.forestry-background {
    background: url("../img/books/forestry.png") no-repeat #6E324E;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.traffic-land-background {
    background: url("../img/books/land-traffic.png") no-repeat #442F50;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.mining-background {
    background: url("../img/books/mining.png") no-repeat #02508c;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.human-traffic-background {
    background: url("../img/books/human-sex.png") no-repeat #984425;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.taxation-background {
    background: url("../img/books/taxation.png") no-repeat #714C8B;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.taxation-amendment-background {
    background: url("../img/books/taxation-amendment.png") no-repeat #003236;
    background-attachment: local;
    background-position: 0% center;
    background-size: 28%;
}
.electricy-background {
    background: url("../img/books/electricity.png") no-repeat #844C8D;
    background-attachment: local;
    background-position: 100% center;
    background-size: 28%;
}
.book-ads {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    min-height: 650px;
    text-align: center;
}
.book-ads-i {
    position: relative;
    display: inline-block;
    background: rgba( 250,250,250, 0.9 ) ;
    border-radius: 2px;
    padding: 10px;
    margin: 5px;
    font-family: KHMUOL;
    font-size: 12px;
}
.site-name {
    position: relative;
    display: block;
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding: 0px 5px;
    font-size: 20px;
    font-family: KHMUOL;
    color: #FF6DFA;
    /*color: #FDADFA;*/
    text-shadow: 0px 0px 2px #FAFAFA;
}
.welcome-message {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 150px;
    line-height: 150px;
    padding: 25px 0px;
    margin: 320px auto 0px auto;
    text-align: center;
    font-size: 20px;
    font-family: KHMUOL;
    color: #333;
    text-shadow: 0px 0px 5px #FAFAFA;
}
.nav-h {
    position: fixed;
    display: block;
    right: 0px;
    width: 50px;
    top: 60px;
    padding: 10px 0px ;
    border-radius: 10px 0px 0px 10px;
    background: rgba( 250,250,250, 0.9 );
    text-align: center;
}
.nav-i {
    position: relative;
    display: inline-block;
    float: none;
    width: 20px;
    padding: 5px;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    background: #B04A6F;
    color: #FAFAFA;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    margin: 2px 0px;
}
.nav-handler {
    display: none;
}
.nav-shower {
    position: relative;
    display: inline-block;
    float: none;
    width: 20px;
    padding: 5px;
    cursor: pointer;
    height: 20px;
    line-height: 20px;
    border-radius: 15px;
    background: #B04A6F;
    color: #FAFAFA;
    text-align: center;
    font-size: 13px;
    margin: 5px 0px 10px 0px;

}
.matra-holder-left {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.search-item {
    position: relative;
    display: inline-block;
    float: none;
    align-items: flex-end;
    padding: 5px;
    cursor: pointer;
    width: 200px;
    margin: 5px;
    border-radius: 2px;
    background: #FAFAFA;
    border: 1px solid #EEE;
    border-bottom: 1px solid #CCC;
}
.search-item:hover, .search-item:active {
    border: 1px solid #DDD;
    border-bottom: 1px solid #BBB;
}
.matra-title {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 5px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
}
.matra-no {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 5px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: #B04A6F;
}
.matra-book {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 5px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: #00578d;
}
.pk-matra-info {
    position: relative;
    display:block;
    float: left;
    width: 100%;
    padding: 20px 0%;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    color: #6E324E;
}
.search-term-highlight {
    text-decoration: underline;
}
.book-thumb {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    font-family: KHMUOL;
    font-size: 20px;
    color: #02508c;
    border-bottom: 5px solid #00578d;
    cursor: pointer;
}
.book-thumb:hover {
    border-bottom: 5px solid #714C8B;
}
.related-article {
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #DDD;
    border-bottom: 1px solid #AAA;
}
.related-article:hover ,.related-article.active {
    border-color: #009867;
    color: #009867;
}