.pk-mmenu-opener {
    position: fixed;
    left: 5px;
    top: 5px;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 5px;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
}
.pk-mmenu-opener:hover {
    color: rgb(192,68,142);
}
.pk-mmenu-closer {
    position: absolute;
    display: block;
    right: 5px;
    top: 0;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 28px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.pk-mmenu-closer:hover {
    color: rgb(192,68,142);
}
.pk-mmenu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    padding: 5px 0px;
    background: #EAEAEA;
    border-right: 1px solid #AAA;
}
.pk-bd {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    margin: 0px 0px 50px 0px;
    padding: 5px 1%;
}
.pk-purpose {
    position: fixed;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    text-align: center;
    border-top: 1px solid #DDD;
    background: #EAEAEA;
}
.pk-slogo {
    position: relative;
    float: left;
    display: block;
    width: 100%;
    height: 48px;
    text-indent: 60px;
    line-height: 48px;
    font-family: KHMUOL;
    padding: 0px;
    background: url("../img/pk-48.png") no-repeat 5px 0px ;
}
.pk-prdc {
    position: relative;
    display: block;
    float: left;
    height: 28px;
    cursor: pointer;
    line-height: 28px;
    width: 98%;
    padding: 5px 1%;
    font-size: 12px;
    font-family: KHMUOL;
}
.pk-prdc:hover {
    height: 23px;
    color: rgb(192,68,142);
    border-bottom: 5px solid rgb(192,68,142);
}
.pk-prdc a {
    position: relative;
    display: block;
    height: 28px;
    float: left;
    width: 100%;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: #444;
}
.pk-prdc:hover a , .pk-prdc a.active {
    color: rgb(192,68,142);
}
.book-item a {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    color: #444;
}
.pk-blogo {
    position: relative;
    display: inline-block;
    float: none;
    width: 128px;
    height: 128px;
    margin: 50px 20px 20px ;
    background: url("../img/pk-128.png") no-repeat center center ;
    border-radius: 69px;
    border: 1px solid #DDD;
    padding: 5px;
    box-shadow: 0px 0px 2px #CCC;
}
.always-free {
    position: relative;
    display: block;
    float: right;
    height: 48px;
    cursor: pointer;
    line-height: 48px;
    padding: 5px;
    font-size: 12px;
    color: #cd0a0a;
}
.pk-search-item {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    padding: 5px 1%;
    margin: 5px 0px;
    border-bottom: 1px solid #EEE;
}
.pk-search-message {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    font-size: 20px;
    padding: 10px 1%;
    margin: 20px 0px 10px 0px;
    border-bottom: 1px solid #CCC;
}
.navigation {
    position: relative;
    margin: 40px auto;
    border-top: 1px solid #EEE;
}
.nav-prev {
    position: absolute;
    display: block;
    left: 5px;
    top: 0;
    background: #FAFAFA;
    border-radius: 2px;
    width: 40px;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 40px;
}
.nav-next {
    position: absolute;
    display: block;
    right: 5px;
    top: 0;
    background: #FAFAFA;
    border-radius: 2px;
    width: 40px;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 40px;
}
.nav-prev:hover, .nav-next:hover {
    color: rgb(192,68,142);
}
.nav-info {
    position: relative;
    display: block;
    float: none;
    margin: 0px auto;
    width: 200px;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    color: rgb(192,68,142);
}
.article_id {
    color: rgb(192,68,142);
    font-size: 18px;
}
.article_cntn {
    color: #00578d;
    font-size: 30px !important;
}
.pk-prdc-scn {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}