.list-books {
    position: relative;
    display: block;
    float: left;
    width: 98%;
    padding: 20px 1%;
    text-align: center;
}
.book-item {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-left: 8px solid #AAA;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #AAA;
    border-top: 1px solid #EEE;
    background: #FAFAFA;
    height: 200px;
    margin: 5px ;
    width: 150px;
    padding: 30px 10px 10px 10px;
    line-height: 30px;
    font-size: 20px;
    font-family: KHMUOL;
    text-align: center;
    background: #FAFAFA;
    color: #555;
}
.book-item:hover {
    box-shadow: 0px 3px 2px #AAA;
}