@CHARSET "UTF-8";
/* PK-blk */
.pk-blk {
	display: block;
	width: 100%;
	float: left;
}

.blk-10pc {
	width: 10%;
}
.blk-15pc {
	width: 15%;
}
.blk-20pc {
	width: 20%;
}
.blk-25pc {
	width: 25%;
}
.blk-30pc {
	width: 30%;
}
.blk-40pc {
	width: 40%;
}
.blk-50pc {
	width: 50%;
}
.blk-60pc {
	width: 60%;
}
.blk-70pc {
	width: 70%;
}
.blk-80pc {
	width: 80%;
}
.blk-90pc {
	width: 90%;
}
.bg-light-gray {
	background: #FAFAFA; 
}
.bg-dark-gray {
	background: #AAA;
}
.bg-medium-gray {
	background: #CCC;
}

.pk-lyr {
	@extend .pk-blk;
	padding: 10px 0px;
}
.pk-blk-center {
	float: none;
	margin: 0px auto;
	text-align: center;
}
.pk-bcw-1024 {
	float: none;
	width: 1024px;
	margin: 0px auto;
}
.pk-bcw-960 {
	float: none;
	width: 960px;
	margin: 0px auto;
}
.pk-bcw-1200 {
	float: none;
	width: 1280px;
	margin: 0px auto;
}
.cut-string {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-break: break-all;
}