@font-face {
	font-family: SWISSL;
	src: url("../fonts/Swis721LtBT.ttf");
}
@font-face {
	font-family: SWISSB;
	src: url("../fonts/Swis721MdBT.ttf");
}
@font-face {
	font-family: KHMUOL;
	src: url("../fonts/KhmerOSmuol.ttf");
}
@font-face {
	font-family: KHMUOLLI;
	src: url("../fonts/KhmerOSmuollight.ttf");
}
@font-face {
	font-family: KHWAT;
	src: url("../fonts/KhmerOSbattambang.ttf");
}
@font-face {
	font-family: KHWAT;
	src: url("../fonts/KhmerOSwatphnom.ttf");
}
@font-face {
	font-family: LMNS1;
	src: url("../fonts/LMNS1.TTF");
}
*{
	font-size: 12px;
	font-family: SWISSL, KHWAT;
}
body {
	margin: 0px;
	background: #FAFAFA;
	color: #444;
}
/* end photos style*/
.cut_string {
	overflow: hidden;
	white-space: nowrap;
	word-break: break-all;
	zoom: 1;
	text-overflow: ellipsis;
}

.cntn-overlay {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(50,50,50,0.5);
	z-index: 500;
}
.msg-h {
	background: none repeat scroll 0 0 rgba(250, 250, 250, 0.95);
	border-radius: 0 0 3px 3px;
	box-shadow: 0 0 2px #bbb;
	display: none;
	left: 20%;
	overflow: auto;
	position: fixed;
	right: 20%;
	top: 0;
	z-index: 501;
}
.msg-confirm-overlay {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(50,50,50,0.5);
	z-index: 502;
}
.msg-confirm {
	position: absolute;
	display: none;
	left: 0%;
	right: 0%;
	top: 0px;
	padding: 20px 10px;
	text-align: center;
	z-index: 503;
	overflow: auto;
}
.msg-confirm-content {
	font-size: 16px;
	margin: 5px auto 20px auto;
}
.msg-cntn {
	position: relative;
	display: block;
	width: 98%;
	font-size: 14px;
	padding: 30px 1%;
	overflow: hidden;
}
.msg-btns {
	position: relative;
	display: block;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
}

input[type="text"], input[type="password"], textarea, select {
	border: 1px solid #CCC;
	border-radius: 2px;
	font-family: SWISSL, KHWAT;
}
input[type="text"]:hover, input[type="password"]:hover, textarea:hover, select:hover {
	/* border-color: #50284B; */
	border-color: #BB8B38;
	font-family: SWISSL, KHWAT;
}
input[type="submit"],input[type="button"]{
	background: #BB8B38;
	border: none;
	display: inline-block;
	width: 120px;
	height: 30px;
	color: #FFF;
	cursor: pointer;
	font-size: 13px;
	border-radius: 2px;
	font-family: SWISSB, KHWAT;
	margin-left:13px;
}
.button {
	background: #BB8B38;
	border: none;
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: #FFF;
	cursor: pointer;
	font-size: 13px;
	border-radius: 2px;
	font-family: SWISSB, KHWAT;
	margin-left:13px;
}
.textbox {
	display: block;
	width: 200px;
	height: 20px;
	padding: 5px;
	line-height: 20px;
	font-family: SWISSB, KHWAT;
}
.blur {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
	opacity: 0.4;
}